In [ ]:
[1,2,3]

2

In [30]:
#dict = {[1,2,3]:1, 'a':2} <- Error- unhasable type: List 

my_dict= {'a':2, 'b':3}

print(my_dict)

{'a': 2, 'b': 3}

In [ ]:
#my_dict = dict(Alice=3)

In [ ]:
my_dict['a'] # if search for element not in dictionary, returns error

2

In [ ]:
my_dict.get('a') # if search for element not in dictionary, returns nothing

In [20]:
ages= {'Alice':25, 'Bob':30, 'Charlie':35}

ages.get('Alice')

25

In [23]:
for name in ages.keys():
    print(name)

Alice
Bob
Charlie

In [24]:
for age in ages.values():
    print(age)

25
30
35

In [26]:
for name, age in ages.items():
    print(name, 'is', age, 'years old.')

Alice is 25 years old.
Bob is 30 years old.
Charlie is 35 years old.

In [ ]:
def histogram(s): # builds histogram count9ing frequency of each character

    d= {}
    for c in s:
        d[c] = d.get(c,0) + 1 # increment count, defaulting to 0 if c is not found
    return d

print(histogram('banana'))

{'b': 1, 'a': 3, 'n': 2}

In [ ]:
def reverse_lookup(d, v): # returns a key for a sepcific value (if value found)
    for key in d:
        if d[key]==v:
            return key
    raise LookupError('Value not found.') # 'raise' handles situations by providing a error you write

d= {'a':1, 'b':2, 'c':3}
print(reverse_lookup(d,2))

b

In [31]:
reverse_lookup(my_dict, 3)

'b'

In [29]:
def invert_dict(d):
    inverse= {}
    for key in d:
        val= d[key]
        inverse.setdefault(val, []).append(key)
    return inverse

d = { " a " : 1 , " b " : 2 , " c " : 1}
print(invert_dict(d))

{1: [' a ', ' c '], 2: [' b ']}

In [ ]:
# creating a tuple:
t= (1,2,3)
print(t)

#indexing starts at 0 same as lists
print(t[0])

(1, 2, 3)
1

In [35]:
#assigning to multiple variables
a,b=5,10
#swapping variables
a,b=b,a

In [ ]:
def sum_and_product(x,y):
    return x+y, x*y # this uses tuples here

In [ ]:
#unpacking a tuple example:
sum_val, prod_val = sum_and_product(3,5)

In [ ]:
#Using tuples as keys in dictionaries:

locations={}
locations [(35.6895 , 139.6917) ] = " Tokyo "           #tuples used to store longituted and latitude 
locations [(40.7128 , -74.0060) ] = " New York "        #for each location

print(locations)

{(35.6895, 139.6917): ' Tokyo ', (40.7128, -74.006): ' New York '}